@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

header {
  background-color: rgb(61, 61, 61); 
  color: red;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.popup_button {
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 4px;
  width: 15%;
  margin-top: 5px;
  @apply text-black bg-gray-200 hover:bg-gray-400
}

.popup_text {
  border: 1px solid #000000;
  border-radius: 2px;
}

.popup_header {
  font-size: medium;
}

.checkloadconfig {
  @apply text-center bg-white px-1 mr-1 text-black hover:ring-blue-500 hover:ring-2 hover:bg-gray-400 hover:rounded-sm
}

.input_button {
  @apply checkloadconfig hover:bg-gray-400 cursor-pointer active:bg-gray-600 hover:rounded-sm
}

.bow_text {
  @apply text-black text-center
}

.navbar_button {
  @apply text-black ml-2 px-2 hover:ring-blue-500 hover:ring-2 bg-gray-200 hover:bg-gray-400 hover:rounded-sm
}

.error_mess {
  @apply text-center border-2 border-rose-700 rounded-md mx-[35%]
}

.readable_text {
  @apply text-black
}