@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --dark-color: #000000;
  --light-color: #ffffff;
  --almost-dark-color: #3a3a3a;
  --almost-light-color: #b0b0b0;
}

.dark_text {
  color: var(--light-color);
}

.dark_bg {
  background-color: var(--dark-color);
}

.light_text {
  color: var(--dark-color);
}

.light_bg {
  background-color: var(--light-color);
}

.dark {
  @apply dark_text dark_bg;
}

.light {
  @apply light_text light_bg;
}

.dark_thing {
  @apply dark_text dark_bg;
  border: 1px solid var(--light-color);
  padding: 1px;
}

.light_thing {
  @apply light_text light_bg;
  border: 1px solid var(--dark_color);
}

/* Custom for popups */
.popup-content.standard-popup-content {
  @apply dark_thing w-4/5;
}

.popup-content.narrow-popup-content {
  @apply dark_thing w-1/2;
}

.highlight_text {
  color: var(--almost-light-color);
}

.highlight_bg {
  background-color: var(--almost-dark-color);
}

.clickable {
  cursor: pointer;
  &:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
  }
}

/* I don't like the max height hack. The number is the way it is because it 
doesn't know what non-scrollable content is in the div that controls the height */
.scrollable_list {
  overflow-y: auto;
  max-height: 25vh; 
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

header {
  background-color: rgb(61, 61, 61); 
  color: red;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.popup_button {
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 4px;
  width: 15%;
  margin-top: 5px;
  @apply text-black bg-gray-200 hover:bg-gray-400
}

.popup_text {
  border: 1px solid #000000;
  border-radius: 2px;
}

.popup_header {
  font-size: medium;
}

.checkloadconfig {
  @apply text-center bg-white px-1 mr-1 text-black hover:ring-blue-500 hover:ring-2 hover:bg-gray-400 hover:rounded-sm
}

.input_button {
  @apply checkloadconfig hover:bg-gray-400 cursor-pointer active:bg-gray-600 hover:rounded-sm
}

input {
  @apply text-black highlight_background
}

.navbar_button {
  @apply text-black ml-2 px-2 hover:ring-blue-500 hover:ring-2 bg-gray-200 hover:bg-gray-400 hover:rounded-sm
}

.error_mess {
  @apply text-center border-2 border-rose-700 rounded-md mx-[35%]
}


.highlight_background {
  @apply bg-slate-300
}

